* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --headerfooter: rgb(34, 26, 39); 
    --headfoottext: rgb(228, 179, 165);
    --headfoottexthover: rgb(226, 200, 193);
    --bg: rgb(223, 164, 146);
}

.container {
    display: grid;
}

/* Header */
.header {
    height: 10vh;
    min-height: 100px;
    background-color: var(--headerfooter);
    color: var(--headfoottext);
    display: flex;
    justify-content: space-between;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logos:hover {
    color: var(--headfoottexthover);
    cursor: pointer;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navlinks:hover {
    color: var(--headfoottexthover);
}

.navlinks a {
    margin: 0rem 2rem;
}

/* Landing */
.landing {
    background: url(./hero.jpg);
    background-size: cover;
    height: 100vh;
    color: rgb(211, 234, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topgradient {
    height: 50px;
    width: 100vw;
    background-image: linear-gradient(var(--headerfooter), rgba(34, 26, 39, 0.4), rgba(34, 26, 39, 0));
}

.bottomgradient {
    height: 50px;
    width: 100vw;
    background-image: linear-gradient(rgba(223, 164, 146, 0), rgba(223, 164, 146, 0.4), var(--bg) );
}

.landingtext {
    display: flex;
    justify-content: center;
}

.landingtext:hover {
    color: white;
    text-shadow: 2px 2px 2px black;
}

/* Content */
.content {
    background: var(--bg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    color: var(--headerfooter);
    align-items: center;
}

.contentheader {
    margin-bottom: 2rem;
}

.contenttext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image {
    display: flex;
    justify-content: center;
}

.text {
    margin: 2rem;
}

/* Footer */
.footer {
    background-color: var(--headerfooter);
    color: var(--headfoottext);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    min-height: 50px;
}

/* Länkar */
a {
    all:inherit;
}

a:hover {
    cursor: pointer;
    background-color: rgba(255, 224, 214, 0.185);
    border-radius: 5px;
}